body {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    color: #222222;
    background-color: #F7F7F7;
    margin: 0%;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .navbar a {
    color: #fffcfc;
    text-decoration: none;
    margin: 0 149px;
    font-size: 18px;
    font-weight: bold;
  }
  .navbar a:hover {
    background-color: #333;
  }

  main{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1fr 0.5fr; 
    grid-template-rows: 0.3fr 1fr;
  }

  .espacement{
    margin-top: 25%;
    width: 20rem;
  }
  
  form {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-column: 2;
    grid-row: 2;
    max-width: 480px;
    margin: 0 auto;
    padding: 24px;
    border: 1px solid #EFEFEF;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  }
  
  label {
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    background-color: #F7F7F7;
    font-size: 14px;
    color: #222222;
    box-sizing: border-box;
  }
  
  fieldset {
    border: none;
  }
  
  legend {
    font-size: 14px;
    font-weight: bold;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007aff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  input[type="submit"]:hover {
    background-color: #0062cc;
  }

  .conditions, 
  .promo,
  .genre{
    display: flex;
    flex-direction: row;
  }

  .alignement{
    padding-top: 2%;
  }
  
  
  
  
  